.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e2e;
  color: #fff;
  .content {
    padding: 100px;
    flex: 1;
    max-width: 40%;
    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
      margin-bottom: 1rem;
      font-family: 'Archivo', sans-serif;
    }
    p {
      font-family: 'Archivo', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      margin-bottom: 1.5rem;
    }
  }
  .carousel {
    flex: 1;
    max-width: 50%;
    padding: 100px 0px 100px 100px;
  
    .swiper {
      width: 100%;
      height: auto;
  
      .swiper-wrapper {
        display: flex;
      }
  
      .swiper-slide {
        text-align: center;
        width: 300px !important;
        height: 370px;
        position: relative;
  
        img {
          max-width: 100%;
          border-radius: 10px;
          height: 100%;
          object-fit: cover;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 40%;
          background: linear-gradient(to top, #1e1e2e 0%, rgba(30, 30, 46, 0) 100%);
          border-radius: 0 0 10px 10px;
          z-index: 1;
        }
      }
    }
  
    .swiper-button-next,
    .swiper-button-prev {
      color: #fff;
    }
    .swiper-button-next{
      visibility: hidden;
    }
  }
  
}


@media (max-width: 900px) {
  .container{
    flex-direction: column;
    .content{
      padding: 50px 0px 0px 0px;
      
    }
    .carousel{
      padding: 50px 0px 50px 0px;
      max-width: 100%;
      .swiper-slide {
        width: 100px !important;
        height: 170px;
      }
      .swiper-button-next{
        visibility: visible;
      }
    }
  }
}
@media (max-width: 600px) {
  .container{
    .content{
      max-width: 100%;
      padding: 50px;
    }
  }
}