.footer {
    background-color: #1b1d24;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      nav {
        a {
          color: #6a5acd;
          text-decoration: none;
          margin-left: 1rem;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  